/* body{background:rgba(76, 74, 138, 0.9);} */

#button_video{border-radius: 20px; background-color: rgb(204, 51, 0); color: black; font-size: 50px;}
#button_article{border-radius: 20px; background-color:rgb(0, 153, 51); color: black; font-size: 50px;}
#button_graph{border-radius: 20px; background-color: rgb(102, 153, 255); color: black; font-size: 50px;}
#button_home{border-radius: 20px; background-color: rgb(102, 153, 153); color: black; font-size: 50px;}

.page_title, .what_to_do {
  font-weight: 300;
  line-height: 120%;
  text-align: center;
  text-shadow: 0 1px 5px rgba(0,0,0,.8);
  text-transform: uppercase;
}

/* PEN STYLES ========== */
a, .side_menu {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/* MENU CONTAINER ----- */

.side_menu {
  opacity: 0.6;
  background: #1a1a1a;
  height: 100vh;
  left: -360px;
  position: fixed;
  top: 0;
  width: 360px;
  z-index: 100;
}

.side_menu .container { padding: 0 1em; }

/* HAMBURGER STYLES ----- */
.burger_box {
  display: block;
  float: right;
  margin-right: -45px;
}
.burger_box a.menu-icon {
  display: inline-block;
  float: none;
  height: 25px;
  padding: 10px;
  opacity: .5;
  width: 25px;
  z-index: 100;
}
.burger_box a.menu-icon:hover,  .burger_box a.menu-icon.opened { opacity: 1; }
.burger_box a.menu-icon.opened { background:none; }
.burger_box .menu-icon_box {
  display: inline-block;
  height: 32px;
  position: relative;
  text-align: left;
  width: 32px;
}

.burger_box .menu-icon_line {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 3px;
  position: absolute;
  width: 100%;
}
.burger_box .menu-icon_line--1 { top: 2px; }
.burger_box .menu-icon_line--2 { top: 10px; }
.burger_box .menu-icon_line--3 { top: 18px; }

.burger_box .menu-icon_line--1 {
  transition: top 200ms 250ms, transform 200ms;
  -webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
}

.burger_box .menu-icon_line--2 {
  transition: opacity 0ms 300ms;
  -webkit-transition: opacity 0ms 300ms;
}

.burger_box .menu-icon_line--3 {
  transition: top 100ms 300ms, transform 200ms;
  -webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
}

.burger_box .menu-icon.opened .menu-icon_box {
  transform: scale3d(0.9, 0.9, 0.9);
  -webkit-transform: scale3d(0.9, 0.9, 0.9);
}

.burger_box .menu-icon.opened .menu-icon_line { top: 10px; }

.burger_box .menu-icon.opened .menu-icon_line--1 {
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transition: top 100ms, transform 200ms 250ms;
  -webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
}

.burger_box .menu-icon.opened .menu-icon_line--2 {
  opacity: 0;
  transition: opacity 200ms;
  -webkit-transition: opacity 200ms;
}

.burger_box .menu-icon.opened .menu-icon_line--3 {
  transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transition: top 200ms, transform 200ms 250ms;
  -webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
}

/* STAGGER LIST ----- */

.list_load {
  display: none;
  list-style: none;
  padding: 0;
}

.list_item {
  margin-left: -20px;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.list_item a {
  color: #fff;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

.list_item a:hover { background: rgba(255,255,255,.2); }
