<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>video_id</th>
          <th>video_keywords</th>
        </tr>
      </thead>

      <tbody>
        {% for Grammer in grammer %}
        <tr>
          <td>{{ Grammer.Grammer_title }}</td>
          <td>{{ Grammer.Grammer_video_id }}</td>
          <td>{{ Grammer.Grammer_keywords}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
